Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/libroman.a
src/roman.o
stamp-h1
test-driver
tests/.deps/
tests/check_roman
tests/check_roman-check_roman.o
tests/check_roman.log
tests/check_roman.o
tests/check_roman.trs
tests/test-suite.log

